footer
  .container.text-center
    p.pull-left 
        strong Box Hackathon 2014
    ul.pull-right.list-inline
      li Created by: 
        a(href='https://github.com/pramodsum?tab=repositories') Sumedha Pramod
        , Ashwin Raman, Evan Thomas