@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html {
  height:100%;
}

body {
  height: 95%
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#464646;
}

.lead {
	color:#464646;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#fff;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
footer {
    height: 5%;
    color: #464646;
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
}