doctype html
html
    head
      title Flappy Bird Reborn
        link(href='../flappyBoxerCopter/css/styles.css', rel='stylesheet', type='text/css')
        script(src='../flappyBoxerCopter/libs/jquery.min.js')
        link(rel='stylesheet', href='http://staging.flappybird.io/assets/app-c77d11cf36a401a7679b32e53dc0c5b1.css')
        script(src='../flappyBoxerCopter/js/create.min.js')
        script(src='../flappyBoxerCopter/js/leader-board.js')
        script(src='../flappyBoxerCopter/app.js')
        script(type='text/javascript')
            $(function() {
            init()
            $( "canvas" ).on( "gameEnd", function(e) {
            console.log('game over')
            });
            $( "canvas").trigger( "gameEnd");
            })
      body
        canvas#testCanvas(width='768', height='1024') 