extends layout
a

block content
    .jumbotron
      center
        img(src='box_cyan.png', height='100px')
        h1 Arcade
    // /container
    hr
    center
        div.row
            div.col-md-6
                a.btn(href='FlappyBoxerCopter')
                    img(src='flappy-aaron.png')
                h4 Current Leaderboard
                table.table#flappyLeaderboard
            div.col-md-6
                a.btn(href='CloudRunner')
                    img(src='unicorn.png')
                h4 Current Leaderboard
                table.table#runnerLeaderboard