.container-full {
    padding: 95px 50px;
}

.game-header {
    max-height: 50%;
}

.game-body {
    max-height: 50%;
}

h1 {
    color: #121212;
    font-size: 7em;
    padding: 0;
    margin: 0.25em 0;
}

body {
    background: white;
}

/* This is the class used for the footer */
footer {
    color: #fff;
    background-color: #121212;
    position: fixed;
    padding: 0 20px;
    bottom: 0px;
}

.box-logo {
    max-width: 450px;
    height: auto;
}

.game-header {
    -webkit-animation: alert 5s ease forwards;
       -moz-animation: alert 5s ease forwards;
        -ms-animation: alert 5s ease forwards;
         -o-animation: alert 5s ease forwards;
            animation: alert 5s ease forwards;   
}

.game-body {
    -webkit-animation: alert 5s ease forwards;
       -moz-animation: alert 5s ease forwards;
        -ms-animation: alert 5s ease forwards;
         -o-animation: alert 5s ease forwards;
            animation: alert 5s ease forwards;   
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}